<div class="page-header">
    <h1>{{message.title}}</h1>
</div>

<p>
    {{message.content}}
</p>

<h2>{{message.Replies.length}} <span ng-pluralize count="message.Replies.length" when="{ '0': 'vastausta', 'one': 'vastaus', 'other': 'vastausta' }"></span></h3>

<ul class="media-list">
    <li class="media" ng-repeat="reply in message.Replies">
        <div class="media-body">
            <h4 class="media-heading">Käyttäjätunnus tähän</h4>

            <p>
                {{reply.content}}
            </p>

            <p class="text-muted">
                <span>{{reply.createdAt | date:"M.d.yyyy HH:mm"}}</span>
            </p>
        </div>
    </li>
</ul>

<h2>Lisää oma vastauksesi</h2>

<form>
    <div class="form-group">
        <label>Vastaus</label>
        <textarea class="form-control" ng-model="newReply.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addReply()">Lisää vastaus</button>
</form>
